@charset 'UTF-8';

@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');



:root{
    --font-padrao: Arial, Verdana, Helvetica, sans-serif;
    --font-h1: 'Poiret One', cursive;
    --font-h2: 'Roboto', sans-serif;
    

    --cor-background: white;
    --cor-backgound-header: #DEF2F7; 
    --cor-hover:#3945ff;
    --cor-buton: #0817ff;
    --cor-h1: #261c3f;
    --cor-h2: #1C0051;
}

html{
    margin: 0px;
}

body{
    background-color:var(--cor-backgound-header);
    margin: 0px;
}
header {
    
    text-align: center;
    
    font-family:var(--font-h1);
    color: var(--cor-h1);
    font-size: 2.5em;
    background-color: var(--cor-backgound-header);
    height: 180px;
    width: auto; 
}

header > h1 {
    color: var(--font-h1);
    margin: -2px auto;
    background-color: var(--cor-backgound-header);
    text-align: center;
    padding-top: 35px;
}

main{
    margin: 10px auto 30px auto;
    /*border: solid 1px black;*/
    padding: 10px;
}

section{
    display:inline-block;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--cor-background);
    font-size: 1.1em;  
    padding: 10px;
    margin: 0px 60px;
    border-radius: 10px;
    box-shadow:  0px 1px 5px rgba(128, 128, 128, 0.623);
}


section#nQ {
    vertical-align: top; 
}

section#cadGab {
    vertical-align: top;
}


section#cadGab > div > input {
    background-color:var(--corbackbotao);
    border: solid 2px var(--corborder);
}

section#cadAl > div > input {
    background-color:var(--corbackbotao);
    border: solid 2px var(--corborder);
}

h2 {
    text-align: center;
    font-family: var(--font-h2);
    color: var(--cor-h2);
    font-size: 1.5em;
}

label.cadQuestoes{
    text-align: center;
    font-family: var(--font-padrao);
    color: var(--cor-h2);
    font-size: 1em;
}
input#nQuestoes{
    width: 66px;
    height: 15px;
    border: 1px solid var(--cor-h2);
}
button#configuraQuestoes{
    width:37px;
    height: 25px;
    font-family: var(--font-padrao);
    font-size: 0.8em;
    color: var(--cor-backgound-header);
    border: 2px solid var(--cor-buton);
    background-color: var(--cor-buton);
    border-radius: 5px;
    margin: 8px 98px;
}

#configuraQuestoes:hover{
    background-color: var(--cor-hover);
    border: 2px solid var(--cor-hover);
}
section#cadGab > div#formGabarito > input{
    width: 66px;
    height: 15px;
    border: 1px solid var(--cor-h2);
    margin: 3px;
}

section#cadGab > div#formGabarito > label{
    font-family: var(--font-padrao);
    font-size: 0.9em;
    color: rgb(58, 58, 58);
    margin: auto;
}

button#salvar{
    width:77px;
    height: 30px;
    font-family: var(--font-padrao);
    font-size: 0.8em;
    color: var(--cor-backgound-header);
    border: 2px solid var(--cor-buton);
    background-color: var(--cor-buton);
    border-radius: 5px;
    margin: 11px 100px 20px 100px;
}

#salvar:hover{
    background-color: var(--cor-hover);
    border: 2px solid var(--cor-hover);
}

/*nnnn*/

section#cadAl > label{
    font-family: var(--font-padrao);
    font-size: 0.9em;
    color: rgb(58, 58, 58);
    margin: auto;
}
input#nomeAluno{
    width: 174px;
    height: 15px;
    border: 1px solid var(--cor-h2);
    margin: 3px;
}

button#aluno{
    width:77px;
    height: 30px;
    font-family: var(--font-padrao);
    font-size: 0.8em;
    color: var(--cor-backgound-header);
    border: 2px solid var(--cor-buton);
    background-color: var(--cor-buton);
    border-radius: 5px;
    margin: 15px 100px 9px 100px;
}

#aluno:hover{
    background-color: var(--cor-hover);
    border: 2px solid var(--cor-hover);
}

section#cadAl > div#formRespostas > label {
    font-family: var(--font-padrao);
    font-size: 0.9em;
    color: rgb(58, 58, 58);
    margin: auto;
}
section#cadAl > div#formRespostas > input {
    width: 66px;
    height: 15px;
    border: 1px solid var(--cor-h2);
    margin: 3px;
}



button#resposta{
    width: 88px;
    height: 39px;
    font-family: var(--font-padrao);
    font-size: 0.8em;
    color: var(--cor-backgound-header);
    border: 2px solid var(--cor-buton);
    background-color: var(--cor-buton);
    border-radius: 5px;
    margin: 11px 95px 8px 95px;
}

#resposta:hover{
    background-color: var(--cor-hover);
    border: 2px solid var(--cor-hover);
}

div#res{
    text-align: center;
    font-family: var(--font-padrao);
    font-size: 0.9em;
    color: var(--font-h1);
    
}
    footer{
    text-align: center;
    background-color: var(--cor-backgound-header);
    margin: 0px;
}
